extends layout

block content
  h2 Problem ##{id}

  //- button.start-stop-btn Start

  if result
    p Result (in #{time}) : #{result}
    a(href=`https://projecteuler.net/problem=${id}` target='_blank') See on projecteuler.net
    br
    br
    if id > 1
      a(href=`/problems/${parseInt(id) - 1}`) Previous
      if id < total
        span &nbsp;|&nbsp;
    if id < total
      a(href=`/problems/${parseInt(id) + 1}`) Next
